Repository SB-SLIM/react-acl: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Test husky avec lint-staged
  .eslintrc.json
  .lintstagedrc.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/test/add.test.ts
  src/utils/add.ts
  src/utils/index.ts
  tsconfig.json
Due: eslint, prettier --write

Test husky avec lint-staged
  eslint.config.js
Due: none

Test husky avec lint-staged
  .lintstagedrc.json
  eslint.config.js
Due: none

Test husky avec lint-staged
  src/utils/add.ts
Due: eslint, prettier --write

Test husky avec lint-staged
  .lintstagedrc.json
  eslint.config.js
  src/utils/add.ts
Due: eslint, prettier --write

Test husky avec lint-staged
  .lintstagedrc.json
Due: none

Test husky avec lint-staged
  eslint.config.js
  package.json
Due: none

Test husky avec lint-staged
  .lintstagedrc.json
  eslint.config.js
  package.json
Due: none

Test husky avec lint-staged
  .lintstagedrc.json
  lint-staged.config.js
  src/utils/add.ts
Due: eslint, prettier --write

Test husky avec lint-staged
  package.json
  pnpm-lock.yaml
  test/add.test.ts
  test/setup.ts
  vitest.config.ts
Due: eslint, prettier --write

docs(changeset): test patch
  .changeset/modern-taxes-post.md
Due: none

Prepare for initial release
  .changeset/README.md
  .changeset/config.json
  package.json
Due: none

RELEASING: Releasing 1 package(s)
  .changeset/modern-taxes-post.md
  CHANGELOG.md
  package.json
Due: none

Prepare for initial release
  docs/README.md
  package.json
Due: prettier --write

Prepare for initial release
  .github/workflows/ci.yml
Due: none

Prepare for initial release
  eslint.config.js
  package.json
Due: none

Path conditions:
  eslint: any of: **/*.{ts,tsx}
  prettier --write: (any of: **/*.{ts,tsx}) or (any of: docs/**/*.md)
